{% if site.social.x %}
<div class="social-icons">
 <a href="https://x.com/{{ site.social.x }}"
   target="_blank"
   rel="noopener noreferrer"
   class="social-icon x-icon hover-white"
   aria-label="X (Twitter)">
  <svg xmlns="http://www.w3.org/2000/svg" 
       viewBox="0 0 24 24" 
       width="24" 
       height="24" 
       fill="currentColor"
       aria-hidden="true">
    <path d="M14.14 10.94L22 2h-2.18l-6.51 7.45L7.91 2H2l8.25 11.57L2 22h2.18l7-8.01L16.09 22H22l-7.86-11.06z"/>
  </svg>
</a>
</div>
{% endif %}

