---
layout: default
---

<div class="book-detail-wrapper">
  <!-- Left column: Full-height image -->
  <div class="book-image-column">
    {% if page.image %}
      <img 
        src="{{ site.baseurl }}/assets/imgs/illustrations/{{ page.image }}" 
        alt="{{ page.title }}" 
        class="book-full-image"
      />
    {% endif %}
  </div>

  <!-- Right column: Text content -->
  <div class="book-content-column">
    <h1>{{ page.title }}</h1>

    {% if page.description %}
      <p>{{ page.description }}</p>
    {% endif %}

    {% if page.link %}
      <a href="{{ page.link }}" class="book-button" target="_blank">
        {{ page.buttontxt | default: "More Info" }}
      </a>
    {% endif %}

    {% if page.asin %}
    <iframe 
      style="width:120px;height:240px;" 
      marginwidth="0" 
      marginheight="0" 
      scrolling="no" 
      frameborder="0" 
      src="https://read.amazon.com/kp/card?asin={{ page.asin }}&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_EXAMPLE">
    </iframe>

    {% endif %}

    <div class="book-content">
      {{ content }}
    </div>
  </div>
</div>
